In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_bus_stop.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           558 non-null    object
 1   INPUT:label           558 non-null    object
 2   INPUT:task-id         558 non-null    int64
 3   OUTPUT:result         558 non-null    object
 4   ASSIGNMENT:worker_id  558 non-null    object
dtypes: int64(1), object(4)
memory usage: 21.9+ KB

In [5]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id
0,http://sdcimages.s3.yandex.net/nirvana/79972b4...,pedestrian,44,no,cd8a71fb8b9e2c828070404f9fb7ddf3
1,http://sdcimages.s3.yandex.net/nirvana/1535805...,no_stop,121,no,cd8a71fb8b9e2c828070404f9fb7ddf3
2,http://sdcimages.s3.yandex.net/nirvana/18db674...,no_stop,108,no,cd8a71fb8b9e2c828070404f9fb7ddf3
3,http://sdcimages.s3.yandex.net/nirvana/a5d42c2...,no_stop,106,no,cd8a71fb8b9e2c828070404f9fb7ddf3
4,http://sdcimages.s3.yandex.net/nirvana/2720c79...,give_way,232,no,cd8a71fb8b9e2c828070404f9fb7ddf3

In [6]:
#Создаю столбец с подсчетом ошибок, где правильный ответ уступи дорогу
x =df[df['INPUT:label'] == 'bus_stop']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [7]:
# кол-во ошибок %
x['result'].mean() *100

1.4184397163120568

In [8]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,result
8,http://sdcimages.s3.yandex.net/nirvana/283529e...,bus_stop,59,bus_stop,cd8a71fb8b9e2c828070404f9fb7ddf3,0
10,http://sdcimages.s3.yandex.net/nirvana/7a6b1bb...,bus_stop,52,bus_stop,cd8a71fb8b9e2c828070404f9fb7ddf3,0
11,http://sdcimages.s3.yandex.net/nirvana/0d3b0f5...,bus_stop,87,bus_stop,cd8a71fb8b9e2c828070404f9fb7ddf3,0
14,http://sdcimages.s3.yandex.net/nirvana/c23235f...,bus_stop,58,bus_stop,0cf44e5957dd560030a3da754ce46c62,0
18,http://sdcimages.s3.yandex.net/nirvana/509cd09...,bus_stop,98,bus_stop,0cf44e5957dd560030a3da754ce46c62,0

In [9]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'bus_stop'].count()
label = df[df['INPUT:label'] == 'bus_stop'].count()
print(ans, label, ans == label)

INPUT:image             145
INPUT:label             145
INPUT:task-id           145
OUTPUT:result           145
ASSIGNMENT:worker_id    145
dtype: int64 INPUT:image             141
INPUT:label             141
INPUT:task-id           141
OUTPUT:result           141
ASSIGNMENT:worker_id    141
dtype: int64 INPUT:image             False
INPUT:label             False
INPUT:task-id           False
OUTPUT:result           False
ASSIGNMENT:worker_id    False
dtype: bool

In [10]:
# Убираю задачи, которые толокеры уже отметили "give_way"
df_task = df[(df['OUTPUT:result'] != 'bus_stop')]

In [11]:
print(df_task.shape)

(413, 5)

In [12]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [13]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [14]:
print(df_task.shape)

(141, 3)

In [15]:
#сохранения в tsv
#df_task.to_csv('task_3.csv', sep="\t", index=False)

In [16]:
#сохранения в xlsx
#df.to_excel('./task_3.xlsx')