In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_pedestrian.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           567 non-null    object
 1   INPUT:label           567 non-null    object
 2   INPUT:task-id         567 non-null    int64
 3   OUTPUT:result         567 non-null    object
 4   ASSIGNMENT:worker_id  567 non-null    object
dtypes: int64(1), object(4)
memory usage: 22.3+ KB

In [5]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id
0,http://sdcimages.s3.yandex.net/nirvana/356642d...,no_stop,138,no,4e22b78677918a79bb65b9900559bc89
1,http://sdcimages.s3.yandex.net/nirvana/f4432d6...,pedestrian,21,pedestrian,4e22b78677918a79bb65b9900559bc89
2,http://sdcimages.s3.yandex.net/nirvana/0515089...,give_way,234,no,4e22b78677918a79bb65b9900559bc89
3,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,57,no,4e22b78677918a79bb65b9900559bc89
4,http://sdcimages.s3.yandex.net/nirvana/f779a9a...,give_way,235,no,4e22b78677918a79bb65b9900559bc89

In [6]:
#Создаю столбец с подсчетом ошибок, где правильный ответ уступи дорогу
x =df[df['INPUT:label'] == 'pedestrian']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [7]:
# кол-во ошибок %
x['result'].mean() *100

0.7092198581560284

In [8]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,result
1,http://sdcimages.s3.yandex.net/nirvana/f4432d6...,pedestrian,21,pedestrian,4e22b78677918a79bb65b9900559bc89,0
5,http://sdcimages.s3.yandex.net/nirvana/1bbe7da...,pedestrian,31,pedestrian,4e22b78677918a79bb65b9900559bc89,0
8,http://sdcimages.s3.yandex.net/nirvana/36d9a38...,pedestrian,50,pedestrian,4e22b78677918a79bb65b9900559bc89,0
15,http://sdcimages.s3.yandex.net/nirvana/2379b6a...,pedestrian,34,pedestrian,4e775ee80af2c543b5d9c6ab48092dfa,0
19,http://sdcimages.s3.yandex.net/nirvana/313af59...,pedestrian,12,pedestrian,4e775ee80af2c543b5d9c6ab48092dfa,0

In [9]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'pedestrian'].count()
label = df[df['INPUT:label'] == 'pedestrian'].count()
print(ans, label, ans == label)

INPUT:image             140
INPUT:label             140
INPUT:task-id           140
OUTPUT:result           140
ASSIGNMENT:worker_id    140
dtype: int64 INPUT:image             141
INPUT:label             141
INPUT:task-id           141
OUTPUT:result           141
ASSIGNMENT:worker_id    141
dtype: int64 INPUT:image             False
INPUT:label             False
INPUT:task-id           False
OUTPUT:result           False
ASSIGNMENT:worker_id    False
dtype: bool

In [10]:
# Убираю задачи, которые толокеры уже отметили "give_way"
df_task = df[(df['OUTPUT:result'] != 'pedestrian')]

In [11]:
print(df_task.shape)

(427, 5)

In [12]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [13]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [14]:
print(df_task.shape)

(143, 3)

In [15]:
#сохранения в tsv
#df_task.to_csv('task_3.csv', sep="\t", index=False)

In [16]:
#сохранения в xlsx
#df.to_excel('./task_3.xlsx')