In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_main.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           769 non-null    object
 1   INPUT:label           769 non-null    object
 2   INPUT:task-id         769 non-null    int64
 3   OUTPUT:result         769 non-null    object
 4   ASSIGNMENT:worker_id  769 non-null    object
dtypes: int64(1), object(4)
memory usage: 30.2+ KB

In [5]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id
0,http://sdcimages.s3.yandex.net/nirvana/36d9a38...,pedestrian,50,no,e9f266c9eebbe14c5118539bb7ca2772
1,http://sdcimages.s3.yandex.net/nirvana/a7f2827...,no_stop,150,no,e9f266c9eebbe14c5118539bb7ca2772
2,http://sdcimages.s3.yandex.net/nirvana/b4fec07...,bus_stop,63,no,e9f266c9eebbe14c5118539bb7ca2772
3,http://sdcimages.s3.yandex.net/nirvana/2eff6bd...,bus_stop,62,no,e9f266c9eebbe14c5118539bb7ca2772
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,e9f266c9eebbe14c5118539bb7ca2772

In [6]:
#Создаю столбец с подсчетом ошибок, где правильный ответ главная дорога
x =df[df['INPUT:label'] == 'main_road']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [7]:
# кол-во ошибок
x['result'].sum()

0

In [8]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,result
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,e9f266c9eebbe14c5118539bb7ca2772,0
8,http://sdcimages.s3.yandex.net/nirvana/71bf468...,main_road,165,main_road,e9f266c9eebbe14c5118539bb7ca2772,0
17,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,284099af39be0b0a501dc316834d0aa8,0
21,http://sdcimages.s3.yandex.net/nirvana/f349861...,main_road,191,main_road,284099af39be0b0a501dc316834d0aa8,0
22,http://sdcimages.s3.yandex.net/nirvana/eccbddf...,main_road,187,main_road,284099af39be0b0a501dc316834d0aa8,0

In [18]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'main_road'].count()
label = df[df['INPUT:label'] == 'main_road'].count()
print(ans, label, ans == label)

INPUT:image             155
INPUT:label             155
INPUT:task-id           155
OUTPUT:result           155
ASSIGNMENT:worker_id    155
dtype: int64 INPUT:image             155
INPUT:label             155
INPUT:task-id           155
OUTPUT:result           155
ASSIGNMENT:worker_id    155
dtype: int64 INPUT:image             True
INPUT:label             True
INPUT:task-id           True
OUTPUT:result           True
ASSIGNMENT:worker_id    True
dtype: bool

In [10]:
# Убираю задачи, которые толокеры уже отметили "main_road"
df_task = df[(df['OUTPUT:result'] != 'main_road')]

In [11]:
print(df_task.shape)

(614, 5)

In [12]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [13]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [14]:
print(df_task.shape)

(200, 3)

In [15]:
#сохранения в tsv
df_task.to_csv('task_2.csv', sep="\t", index=False)

In [16]:
#сохранения в xlsx
df.to_excel('./task_2.xlsx')