In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_main.tsv', sep="\t")
df = df[~df['INPUT:image'].isnull()]

In [5]:
# Словарь для проверки ответов, меняем все кроме 'main_road' на "no"
d = {'pedestrian':'no','main_road':'main_road','no_stop':'no','bus_stop':'no','give_way':'no'}

In [6]:
df['label'] = df['INPUT:label'].map(d)

In [7]:
# Считаем TP, TN, FP, FN (по всем толокерам)
(df['label'] +'_'+ df['OUTPUT:result']).value_counts()

no_no                  614
main_road_main_road    155
dtype: int64

In [8]:
df[(df['label']  == df['OUTPUT:result'])]

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,GOLDEN:result,HINT:text,HINT:default_language,ASSIGNMENT:worker_id,label
0,http://sdcimages.s3.yandex.net/nirvana/36d9a38...,pedestrian,50,no,no,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
1,http://sdcimages.s3.yandex.net/nirvana/a7f2827...,no_stop,150,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
2,http://sdcimages.s3.yandex.net/nirvana/b4fec07...,bus_stop,63,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
3,http://sdcimages.s3.yandex.net/nirvana/2eff6bd...,bus_stop,62,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,main_road
...,...,...,...,...,...,...,...,...,...
764,http://sdcimages.s3.yandex.net/nirvana/e361d46...,main_road,183,main_road,NaN,NaN,NaN,ce3e479b9803eec6db9ed9a15421520a,main_road
765,http://sdcimages.s3.yandex.net/nirvana/615ef57...,no_stop,128,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no
766,http://sdcimages.s3.yandex.net/nirvana/dfa6fde...,pedestrian,38,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no
767,http://sdcimages.s3.yandex.net/nirvana/aef1e11...,main_road,153,main_road,main_road,NaN,NaN,284099af39be0b0a501dc316834d0aa8,main_road
768,http://sdcimages.s3.yandex.net/nirvana/ae61eec...,give_way,225,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no

In [9]:
df

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,GOLDEN:result,HINT:text,HINT:default_language,ASSIGNMENT:worker_id,label
0,http://sdcimages.s3.yandex.net/nirvana/36d9a38...,pedestrian,50,no,no,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
1,http://sdcimages.s3.yandex.net/nirvana/a7f2827...,no_stop,150,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
2,http://sdcimages.s3.yandex.net/nirvana/b4fec07...,bus_stop,63,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
3,http://sdcimages.s3.yandex.net/nirvana/2eff6bd...,bus_stop,62,no,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,no
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,NaN,NaN,NaN,e9f266c9eebbe14c5118539bb7ca2772,main_road
...,...,...,...,...,...,...,...,...,...
764,http://sdcimages.s3.yandex.net/nirvana/e361d46...,main_road,183,main_road,NaN,NaN,NaN,ce3e479b9803eec6db9ed9a15421520a,main_road
765,http://sdcimages.s3.yandex.net/nirvana/615ef57...,no_stop,128,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no
766,http://sdcimages.s3.yandex.net/nirvana/dfa6fde...,pedestrian,38,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no
767,http://sdcimages.s3.yandex.net/nirvana/aef1e11...,main_road,153,main_road,main_road,NaN,NaN,284099af39be0b0a501dc316834d0aa8,main_road
768,http://sdcimages.s3.yandex.net/nirvana/ae61eec...,give_way,225,no,NaN,NaN,NaN,284099af39be0b0a501dc316834d0aa8,no

In [10]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 769 entries, 0 to 768
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           769 non-null    object
 1   INPUT:label           769 non-null    object
 2   INPUT:task-id         769 non-null    int64
 3   OUTPUT:result         769 non-null    object
 4   ASSIGNMENT:worker_id  769 non-null    object
 5   label                 769 non-null    object
dtypes: int64(1), object(5)
memory usage: 42.1+ KB

In [12]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,label
0,http://sdcimages.s3.yandex.net/nirvana/36d9a38...,pedestrian,50,no,e9f266c9eebbe14c5118539bb7ca2772,no
1,http://sdcimages.s3.yandex.net/nirvana/a7f2827...,no_stop,150,no,e9f266c9eebbe14c5118539bb7ca2772,no
2,http://sdcimages.s3.yandex.net/nirvana/b4fec07...,bus_stop,63,no,e9f266c9eebbe14c5118539bb7ca2772,no
3,http://sdcimages.s3.yandex.net/nirvana/2eff6bd...,bus_stop,62,no,e9f266c9eebbe14c5118539bb7ca2772,no
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,e9f266c9eebbe14c5118539bb7ca2772,main_road

In [13]:
#Создаю столбец с подсчетом ошибок, где правильный ответ главная дорога
x =df[df['INPUT:label'] == 'main_road']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [14]:
# кол-во ошибок
x['result'].sum()

0

In [15]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,label,result
4,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,e9f266c9eebbe14c5118539bb7ca2772,main_road,0
8,http://sdcimages.s3.yandex.net/nirvana/71bf468...,main_road,165,main_road,e9f266c9eebbe14c5118539bb7ca2772,main_road,0
17,http://sdcimages.s3.yandex.net/nirvana/edd3911...,main_road,194,main_road,284099af39be0b0a501dc316834d0aa8,main_road,0
21,http://sdcimages.s3.yandex.net/nirvana/f349861...,main_road,191,main_road,284099af39be0b0a501dc316834d0aa8,main_road,0
22,http://sdcimages.s3.yandex.net/nirvana/eccbddf...,main_road,187,main_road,284099af39be0b0a501dc316834d0aa8,main_road,0

In [16]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'main_road'].count()
label = df[df['INPUT:label'] == 'main_road'].count()
print(ans, label, ans == label)

INPUT:image             155
INPUT:label             155
INPUT:task-id           155
OUTPUT:result           155
ASSIGNMENT:worker_id    155
label                   155
dtype: int64 INPUT:image             155
INPUT:label             155
INPUT:task-id           155
OUTPUT:result           155
ASSIGNMENT:worker_id    155
label                   155
dtype: int64 INPUT:image             True
INPUT:label             True
INPUT:task-id           True
OUTPUT:result           True
ASSIGNMENT:worker_id    True
label                   True
dtype: bool

In [17]:
# Убираю задачи, которые толокеры уже отметили "main_road"
df_task = df[(df['OUTPUT:result'] != 'main_road')]

In [18]:
print(df_task.shape)

(614, 6)

In [19]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [20]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [21]:
print(df_task.shape)

(200, 4)

In [22]:
#сохранения в tsv
#df_task.to_csv('task_2.csv', sep="\t", index=False)

In [23]:
#сохранения в xlsx
#df.to_excel('./task_2.xlsx')