In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_no_stop.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           564 non-null    object
 1   INPUT:label           564 non-null    object
 2   INPUT:task-id         564 non-null    int64
 3   OUTPUT:result         564 non-null    object
 4   ASSIGNMENT:link       564 non-null    object
 5   ASSIGNMENT:worker_id  564 non-null    object
dtypes: int64(1), object(5)
memory usage: 26.6+ KB

In [5]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:link,ASSIGNMENT:worker_id
0,http://sdcimages.s3.yandex.net/nirvana/9fa0540...,bus_stop,93,no,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82
1,http://sdcimages.s3.yandex.net/nirvana/e673fda...,bus_stop,79,no,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82
2,http://sdcimages.s3.yandex.net/nirvana/468a64a...,bus_stop,83,no,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82
3,http://sdcimages.s3.yandex.net/nirvana/4f14cdf...,give_way,246,no,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82
4,http://sdcimages.s3.yandex.net/nirvana/7e6cec2...,bus_stop,69,no,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82

In [6]:
#Создаю столбец с подсчетом ошибок, где правильный ответ уступи дорогу
x =df[df['INPUT:label'] == 'no_stop']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [7]:
# кол-во ошибок %
x['result'].mean() *100

0.7246376811594203

In [8]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:link,ASSIGNMENT:worker_id,result
5,http://sdcimages.s3.yandex.net/nirvana/18db674...,no_stop,108,no_stop,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82,0
6,http://sdcimages.s3.yandex.net/nirvana/4a96de1...,no_stop,113,no_stop,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82,0
12,http://sdcimages.s3.yandex.net/nirvana/72636be...,no_stop,122,no_stop,https://toloka.yandex.ru/task/37376892/00023a5...,a7032ff1b9c5d82ee95c91307a9bcb82,0
15,http://sdcimages.s3.yandex.net/nirvana/5d2baff...,no_stop,143,no_stop,https://toloka.yandex.ru/task/37376892/00023a5...,752af47e67858b4e4ee3a2f2cdd2a929,0
22,http://sdcimages.s3.yandex.net/nirvana/18db674...,no_stop,108,no,https://toloka.yandex.ru/task/37376892/00023a5...,752af47e67858b4e4ee3a2f2cdd2a929,1

In [9]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'no_stop'].count()
label = df[df['INPUT:label'] == 'no_stop'].count()
print(ans, label, ans == label)

INPUT:image             137
INPUT:label             137
INPUT:task-id           137
OUTPUT:result           137
ASSIGNMENT:link         137
ASSIGNMENT:worker_id    137
dtype: int64 INPUT:image             138
INPUT:label             138
INPUT:task-id           138
OUTPUT:result           138
ASSIGNMENT:link         138
ASSIGNMENT:worker_id    138
dtype: int64 INPUT:image             False
INPUT:label             False
INPUT:task-id           False
OUTPUT:result           False
ASSIGNMENT:link         False
ASSIGNMENT:worker_id    False
dtype: bool

In [10]:
# Убираю задачи, которые толокеры уже отметили "give_way"
df_task = df[(df['OUTPUT:result'] != 'no_stop')]

In [11]:
print(df_task.shape)

(427, 6)

In [12]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [13]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [14]:
print(df_task.shape)

(143, 4)

In [15]:
#сохранения в tsv
df_task.to_csv('task_3.csv', sep="\t", index=False)

In [16]:
#сохранения в xlsx
df.to_excel('./task_3.xlsx')