In [1]:

import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
import krippendorff

In [2]:
from krippendorff.krippendorff import alpha

In [3]:
df_trash = pd.read_csv('./Quality_3.tsv', sep="\t")
df_quality = pd.read_csv('./Quality_4.tsv', sep="\t")
df_quality_plus = pd.read_csv('./Quality_6.tsv', sep="\t")

In [4]:
for x in [df_trash, df_quality, df_quality_plus]:
    value_counts  =pd.crosstab(x['INPUT:task-id'], x['OUTPUT:label'])
    print(krippendorff.alpha(value_counts=value_counts))

0.8326719879833784
0.7899202837357762
0.8409949402729187

In [5]:
import re

In [6]:
df_golden = pd.read_csv('./golden_labels.tsv', sep="\t")

In [7]:
df_golden.head()

,INPUT:task-id,INPUT:comment,INPUT:label
0,0,"экскурсии вторник и четверг 12:15, 13:30, 14:...",ad
1,1,Мойка самообслуживания 24/7 Аллес Гуд. Работае...,ad
2,2,"Строительные работы, мелкие работы.. Наш сайт ...",ad
3,3,Приму заказ на парфюм. С ног сшибательны аромат,ad
4,4,✅Мы предлагаем приобрести б/у технику в нашем ...,ad

In [8]:
df_golden['INPUT:comment'].replace(regex=True,inplace=True,to_replace=r'[8-9]{1}[0-9]{9}',value=r'#')

In [9]:
df_golden['INPUT:comment'].replace(regex=True,inplace=True,to_replace=r'[+7]{1}',value=r'#')

In [10]:
df_golden['INPUT:comment'].replace(regex=True,inplace=True,to_replace=r'(\d{4})', value=r'#')

In [11]:
df_golden.to_csv('golden_not_number.tsv', sep="\t", index=False)

In [12]:
#(\d{3})\D*(\d{3})\D*(\d{4})\D*(\d*)$