In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./Decomp_1.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754 entries, 0 to 753
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           754 non-null    object
 1   OUTPUT:result         754 non-null    object
 2   ASSIGNMENT:worker_id  754 non-null    object
dtypes: object(3)
memory usage: 17.8+ KB

In [5]:
de = read_excel('roadSigns.xlsx')

In [6]:
de.head()

,INPUT:image,INPUT:label,INPUT:task-id
0,http://sdcimages.s3.yandex.net/nirvana/6c98f05...,pedestrian,1
1,http://sdcimages.s3.yandex.net/nirvana/d507cb6...,pedestrian,2
2,http://sdcimages.s3.yandex.net/nirvana/3aeab98...,pedestrian,3
3,http://sdcimages.s3.yandex.net/nirvana/1b4d74a...,pedestrian,4
4,http://sdcimages.s3.yandex.net/nirvana/31e2681...,pedestrian,5

In [7]:
#pd.merge(df, de, on=['INPUT:image'], how='inner').to_csv('1111.csv', sep="\t", index=False)

In [8]:
df_result = pd.merge(df, de, on=['INPUT:image'], how='inner')
df_result

,INPUT:image,OUTPUT:result,ASSIGNMENT:worker_id,INPUT:label,INPUT:task-id
0,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,pedestrian,040267dc3213d9bb136605f74e9fd81f,no_stop,131
1,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,no_stop,419c035390638e54057fefdb02dd2814,no_stop,131
2,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,no_stop,8179b955d7706457ac3698566f59d9cf,no_stop,131
3,http://sdcimages.s3.yandex.net/nirvana/84d7947...,pedestrian,040267dc3213d9bb136605f74e9fd81f,no_stop,137
4,http://sdcimages.s3.yandex.net/nirvana/84d7947...,no_stop,419c035390638e54057fefdb02dd2814,no_stop,137
...,...,...,...,...,...
749,http://sdcimages.s3.yandex.net/nirvana/a32a065...,no_stop,1442435d91d56394f486ded242b61332,no_stop,104
750,http://sdcimages.s3.yandex.net/nirvana/a32a065...,no_stop,9525a461cb742096fe0b0f2bd0c89cd9,no_stop,104
751,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,8c54a484fc400b6ba9e7933791b9a4ed,bus_stop,57
752,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,1442435d91d56394f486ded242b61332,bus_stop,57
753,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,80e85325f66d6bb02a3fbc25d5904d86,bus_stop,57

In [9]:
#Создаю столбец с подсчетом ошибок
df_result = df_result.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val
df_result['result'] = df_result.apply(f, axis=1)

In [10]:
df_result

,INPUT:image,OUTPUT:result,ASSIGNMENT:worker_id,INPUT:label,INPUT:task-id,result
0,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,pedestrian,040267dc3213d9bb136605f74e9fd81f,no_stop,131,1
1,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,no_stop,419c035390638e54057fefdb02dd2814,no_stop,131,0
2,http://sdcimages.s3.yandex.net/nirvana/5868dfc...,no_stop,8179b955d7706457ac3698566f59d9cf,no_stop,131,0
3,http://sdcimages.s3.yandex.net/nirvana/84d7947...,pedestrian,040267dc3213d9bb136605f74e9fd81f,no_stop,137,1
4,http://sdcimages.s3.yandex.net/nirvana/84d7947...,no_stop,419c035390638e54057fefdb02dd2814,no_stop,137,0
...,...,...,...,...,...,...
749,http://sdcimages.s3.yandex.net/nirvana/a32a065...,no_stop,1442435d91d56394f486ded242b61332,no_stop,104,0
750,http://sdcimages.s3.yandex.net/nirvana/a32a065...,no_stop,9525a461cb742096fe0b0f2bd0c89cd9,no_stop,104,0
751,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,8c54a484fc400b6ba9e7933791b9a4ed,bus_stop,57,0
752,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,1442435d91d56394f486ded242b61332,bus_stop,57,0
753,http://sdcimages.s3.yandex.net/nirvana/f1917f0...,bus_stop,80e85325f66d6bb02a3fbc25d5904d86,bus_stop,57,0

In [11]:
print('Ошибок, %', df_result['result'].mean() * 100)

print('Верных ответов, %',  100 - df_result['result'].mean() * 100)

Ошибок, % 1.989389920424403
Верных ответов, % 98.0106100795756

In [12]:
# объединяю таблицу, по признаку INPUTE:image, в de - это уникальный признак
pd.merge(df, de, on=['INPUT:image'], how='inner').to_csv('Res_1.csv', sep="\t", index=False)