In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
from pandas import read_excel

In [2]:
df = pd.read_csv('./assignments_from_pool_give_way.tsv', sep="\t")

In [3]:
df = df.drop(columns=['GOLDEN:result', 'HINT:text', 'HINT:default_language'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INPUT:image           573 non-null    object
 1   INPUT:label           573 non-null    object
 2   INPUT:task-id         573 non-null    int64
 3   OUTPUT:result         573 non-null    object
 4   ASSIGNMENT:worker_id  573 non-null    object
dtypes: int64(1), object(4)
memory usage: 22.5+ KB

In [5]:
 df.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id
0,http://sdcimages.s3.yandex.net/nirvana/22933d9...,pedestrian,18,no,aaf0ace564a3b249dce50763e334a26f
1,http://sdcimages.s3.yandex.net/nirvana/65cec44...,give_way,242,give_way,aaf0ace564a3b249dce50763e334a26f
2,http://sdcimages.s3.yandex.net/nirvana/4530f26...,pedestrian,48,no,aaf0ace564a3b249dce50763e334a26f
3,http://sdcimages.s3.yandex.net/nirvana/302325b...,bus_stop,81,no,aaf0ace564a3b249dce50763e334a26f
4,http://sdcimages.s3.yandex.net/nirvana/2720c79...,give_way,232,give_way,aaf0ace564a3b249dce50763e334a26f

In [6]:
#Создаю столбец с подсчетом ошибок, где правильный ответ уступи дорогу
x =df[df['INPUT:label'] == 'give_way']
x = x.fillna(0)
def f(row):
    if row['INPUT:label'] == row['OUTPUT:result']:
        val = 0
    else:
        val = 1
    return val

x['result'] = x.apply(f, axis=1)

In [7]:
# кол-во ошибок %
x['result'].mean() *100

0.7092198581560284

In [8]:
x.head()

,INPUT:image,INPUT:label,INPUT:task-id,OUTPUT:result,ASSIGNMENT:worker_id,result
1,http://sdcimages.s3.yandex.net/nirvana/65cec44...,give_way,242,give_way,aaf0ace564a3b249dce50763e334a26f,0
4,http://sdcimages.s3.yandex.net/nirvana/2720c79...,give_way,232,give_way,aaf0ace564a3b249dce50763e334a26f,0
10,http://sdcimages.s3.yandex.net/nirvana/0515089...,give_way,234,give_way,aaf0ace564a3b249dce50763e334a26f,0
12,http://sdcimages.s3.yandex.net/nirvana/b1e6888...,give_way,213,give_way,aaf0ace564a3b249dce50763e334a26f,0
19,http://sdcimages.s3.yandex.net/nirvana/0515089...,give_way,234,give_way,f2ca3d107543223122d74437faf968dd,0

In [9]:
# Проверяю, что количество ответов "main_road" совпадает с количеством правильных ответов
ans = df[df['OUTPUT:result'] == 'give_way'].count()
label = df[df['INPUT:label'] == 'give_way'].count()
print(ans, label, ans == label)

INPUT:image             142
INPUT:label             142
INPUT:task-id           142
OUTPUT:result           142
ASSIGNMENT:worker_id    142
dtype: int64 INPUT:image             141
INPUT:label             141
INPUT:task-id           141
OUTPUT:result           141
ASSIGNMENT:worker_id    141
dtype: int64 INPUT:image             False
INPUT:label             False
INPUT:task-id           False
OUTPUT:result           False
ASSIGNMENT:worker_id    False
dtype: bool

In [10]:
# Убираю задачи, которые толокеры уже отметили "give_way"
df_task = df[(df['OUTPUT:result'] != 'give_way')]

In [11]:
print(df_task.shape)

(431, 5)

In [12]:
#Убираем перекрытие
df_task = df_task.drop_duplicates(subset=['INPUT:image'])

In [13]:
#убираем лишние столбцы
df_task = df_task.drop(columns=['OUTPUT:result', 'ASSIGNMENT:worker_id'])

In [14]:
print(df_task.shape)

(145, 3)

In [15]:
#сохранения в tsv
df_task.to_csv('task_3.csv', sep="\t", index=False)

In [16]:
#сохранения в xlsx
df.to_excel('./task_3.xlsx')